@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "";
}

<h1>@ViewData["Title"]</h1>
<div class="my-5"></div>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<div class="container">
<p class="mt-32" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
    Please check your email to confirm your account. <a href="https://aka.ms/aspaccountconf"></a>
   <div class="my-5"></div>
</p>
</div>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}